@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Places";
    string keySearch = (string)ViewData["keySearch"];
    string keySort = (string)ViewData["keySort"];
}
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    @if (@ViewBag.search == null)
    {
        <script src="~/js/Place/PaginationPlace.js"></script>
    }

    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- Jquety ui and Jquery JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>

    <script src="~/js/Place/addPlace.js"></script>
    <script>
        $(document).ready(() => {
            // ẩn nút search khi không có tìm kiếm
            @if(@ViewBag.search != null)
            {
                @:$('.btn-search').prop('disabled', false);
            }
            else
            {
                @:$('.btn-search').prop('disabled', true);
            }

            $('.search-box').keyup(function(){
                if ($(this).val().length != 0) {
                    $('.btn-search').prop('disabled', false);
                }
                else {
                    $('.btn-search').prop('disabled', true);
                }
            });
        });
    </script>
}

@section Css {
    <!-- Jquery ui CSS -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Mulish'>
    <!-- Font Awesome JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/User/user.css" />
    <link rel="stylesheet" href="~/css/User/listUser.css" />
    <link rel="stylesheet" href="~/css/User/pagination.css" />
    <link rel="stylesheet" href="~/css/Place/dialog.css" />
}

<main>
    <section class="main__top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <div class="title__thin">
                        <h1><b>Places List</b></h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <form class="user__features" id="form-query">
                    <div class="user__features__left">
                        <div class="user__features__search">
                            <input type="text"
                                   placeholder="Search"
                                   class="query-control search-box"
                                   name="search"
                                   style="font-size: 15px;"
                                   value="@keySearch">
                        </div>
                        <button type="submit" class="search__icon btn-search" id="btn-submit">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="search__icon"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path stroke-linecap="round"
                                      stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="user__features__right">
                        <span>Sort by:</span>
                        <div class="user__features__sort">
                            <select id="select-sort"
                                    class="form-select query-control"
                                    name="sort"
                                    aria-label="Default select example">
                                <option>Default sorting</option>
                                <!option value="name"
                                         @if (@keySort == "name") { @("selected") }>
                                    name
                                </!option>
                                <!option value="numberStaff"
                                         @if (@keySort == "numberStaff") { @("selected") }>
                                    numberStaff
                                </!option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row" style="display: flex; align-items: center; justify-content: center;">
                <div class="add-user">
                    <button type="button"
                            class="btn btn-primary"
                            onclick="javascript:;" id="create-place">
                        <img src="~/img/add-icon.png" alt="Add icon" />
                        <span>&nbsp;Add a new user</span>
                    </button>
                </div>
            </div>

            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Place name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Number staff</th>
                            <th scope="col">Options</th>
                        </tr>
                    </thead>
                    @if (@ViewBag.search != null)
                    {
                        <tbody>
                            @{int i = 1;}
                            @foreach (var data in (List<Place>)@ViewData["searchOfPlace"])
                            {
                                <tr>
                                    <th scope="row">@i</th>
                                    @{i++;}
                                    <td>@data.Name</td>
                                    <td>@data.Address</td>
                                    <td>@data.NumberStaff</td>
                                    <td>
                                        <div class="user__options__edit"
                                             onclick="location.href='/Places/@data.Id/update'">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 width="24"
                                                 height="24"
                                                 viewBox="0 0 24 24">
                                                <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-5 17l1.006-4.036 3.106 3.105-4.112.931zm5.16-1.879l-3.202-3.202 5.841-5.919 3.201 3.2-5.84 5.921z"></path>
                                            </svg>
                                            <span>Edit place</span>
                                        </div>
                                    </td>
                                </tr>
                            }
                            @if(i == 1)
                            {
                                <tr><th scope="row" style="color:red">No data!</th></tr>
                            }
                        </tbody>
                    }
                    else
                    {
                        <tbody id="result"></tbody>
                    }
                </table>
            </div>
            @if (@ViewBag.search == null)
            {
                <div class="row">
                    <div class="col" style="display: flex; align-items: center; justify-content: center; width:100%">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <button class="page-link" id="prev-btn" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </button>
                                </li>
                                <li class="page-item">
                                    <button class="page-link" id="next-btn" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </button>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            }
        </div>
    </section>
</main>


<div id="dialog-form" title="Add new place" style="display: none;">
    <p class="validateTips">Fill in the required fields</p>
    <form method="POST">
        <fieldset>
            <label for="placeName">Place name</label>
            <input type="text" name="placeName" id="placeName" class="text ui-widget-content ui-corner-all" autofocus>
            <label for="text">Address</label>
            <input type="text" name="address" id="address" class="text ui-widget-content ui-corner-all" required>
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>