@using Newtonsoft.Json.Linq
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Our products";
    ViewData["Tab"] = "shop";
    
    var productsAndPagination = JsonConvert.DeserializeObject((string)ViewData["jsonProducts"]) as JObject;
    var products = productsAndPagination["products"] as JArray;
    var pagination = productsAndPagination["pagination"] as JObject;

    int paginationOrder = int.Parse(pagination["Order"].ToString());
    int paginationCurr = int.Parse(pagination["Curr"].ToString());
    int paginationNum = int.Parse(pagination["Num"].ToString());
    int paginationUnit = int.Parse(pagination["Unit"].ToString());
    int paginationMax = int.Parse(pagination["Max"].ToString());
    int paginationEnd = int.Parse(pagination["End"].ToString());
    
    string url = ViewData["url"] as string;
    string search = ViewData["search"] as string;
    string category = ViewData["category"] as string;
    string sort = ViewData["sort"] as string;

    var categories = JsonConvert.DeserializeObject((string)ViewData["jsonCategories"]) as JArray;
}

@section Scripts {
    <script src="~/js/queryParam.js" asp-append-version="true"></script>
    <script src="~/js/cart.js" asp-append-version="true"></script>
}

<section class="shop">
    <div class="shop__header">
        <h1 class="title__thin">Shop</h1>
        <div>
            <a href="/">Home</a>
            <span>|</span>
            <span>Shop</span>
        </div>
    </div>
    <form id="form-query" class="shop__features">
        <div class="shop__features__left">
            <div class="shop__features__categories">
                <select id="select-category"
                        class="form-select query-control"
                        aria-label="Default select example"
                        name="category">
                    <option>Category</option>
                    @foreach (var categoryItem in categories)
                    {
                        <!option value="@categoryItem["Name"]"
                                @if (categoryItem["Name"]?.ToString() == category)
                                {
                                    @("selected")
                                }>
                            @categoryItem["Name"]
                        </!option>
                    }
                </select>
            </div>
            <div class="shop__features__search">
                <input id="input-search"
                       class="query-control"
                       type="text"
                       placeholder="Search"
                       name="search"
                       @if (search != null) { @("value=" + search) } />
                <button id="btn-submit" type="submit" class="search__icon">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z">
                        </path>
                    </svg>
                </button>
            </div>
        </div>
        <div class="shop__features__right">
            <div class="shop__features__sort">
                <select id="select-sort"
                        class="form-select query-control"
                        aria-label="Default select example"
                        name="sort">
                    <option>Default sorting</option>
                    <!option value="name" @if (sort == "name") { @("selected") }>Name</!option>
                    <!option value="price"@if (sort == "price") { @("selected") }>Price</!option>
                </select>
            </div>
        </div>
    </form>
    <div class="shop__products">
        @foreach (var product in products)
        {
            <div class="product">
                <span id="product__id" style="display: none;">@product["Id"]</span>
                <a href="/Products/@product["Id"]">
                    <div class="product__img">
                        <img src="@product["Avatar"]" alt="product" style="width: 250px; height: 250px;"/>
                        <span class="product__category">@product["CategoryName"]</span>
                    </div>
                    <div class="product__info">
                        <h5 id="product__name">@product["Name"]</h5>
                        <h5 style="font-size:large; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; ">
                            <span id="product__price">@product["Price"]</span>
                        </h5>
                    </div>
                </a>
                <div class="product__cart">
                    <button class="product__cart__btn">ADD TO CART</button>
                </div>
            </div>
        }
    </div>

    <div class="row">
        <div class="col text-center">
            <div class="pagination-bar">
                @if (paginationOrder > 1) {
                <a href=@(url + "page=" + paginationUnit) class="previous-button">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="10"
                         height="25.5"
                         viewBox="0 0 24 24">
                        <path d="M3 12l18-12v24z"></path>
                    </svg>
                </a>
                }
                @for (var i = 0; i < paginationEnd; i++)
                {
                    <a href=@(url + "page=" + (i + paginationUnit + 1))
                       @if (i + paginationUnit + 1 == paginationCurr)
                       {
                           @("class=active")
                       }>
                        @(i + paginationUnit + 1)
                    </a>
                }
                @if (paginationNum > paginationMax) {
                    <a href=@(url + "page=" + (1 + paginationMax)) class="next-button">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="10"
                             height="25.5"
                             viewBox="0 0 24 24">
                            <path d="M21 12l-18 12v-24z"></path>
                        </svg>
                    </a>
                }
            </div>
        </div>
    </div>
</section>