@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Detail";
    ViewData["Tab"] = "shop";
    var product = JsonConvert.DeserializeObject((string)ViewData["jsonProduct"]) as JObject;
    var relatedProducts = JsonConvert.DeserializeObject((string)ViewData["jsonRelatedProducts"]) as JArray;
}

@section Scripts {
    <script src="~/js/comment.js" asp-append-version="true"></script>
    <script src="~/js/cart.js" asp-append-version="true"></script>
}

<section id="product">
    <div class="product__header">
        <h1 class="title__thin">Product detail</h1>
        <div>
            <a href="/">
                <span>Home</span>
            </a>
            <span>|</span>
            <a href="/Shop">
                <span>Shop</span>
            </a><span>|</span>
            <span>Cupcake</span>
        </div>
    </div>
    <div class="product__detail">
        <div class="product__detail__img">
            <img src="@product?["Avatar"]" alt="@product?["Name"]" style="width: 300px; height: 300px;"/>
        </div>
        <div class="product__detail__info">
            <span id="product__id" style="display: none">@product?["Id"]</span>
            <div class="product__detail__info__header">
                <span>@product?["CategoryName"]</span>
                <h3>@product?["Name"]</h3>
                <h4>
                    <span id="product__detail__info__price">@product?["Price"]</span>
                </h4>
            </div>
            <div class="product__detail__info__describe">
                <p>@product?["Introduction"]</p>
                <div class="product__detail__info__label">
                    <ul>
                        <li>SKU: <span>10</span></li>
                        <li>Category: <span>@product?["CategoryName"]</span></li>
                    </ul>
                </div>
                <div class="product__detail__option">
                    <button id="product__cart__btn" class="cart" style="border: none">
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="product__detail__tab">
        <span>Description</span>
        <div class="tab-content">
            <p>@product?["Description"]</p>
        </div>
    </div>
</section>
<section class="relatedProduct" style="padding: 10px 50px; text-align: center">
    <h3 class="section__title">Related Products</h3>
    <div class="products" style="padding: 0">
        @foreach (var relatedProduct in relatedProducts)
        {
            <div class="product">
                <span id="product__id" style="display: none">@relatedProduct["Id"]</span>
                <a href="/Products/@relatedProduct["Id"]">
                    <div class="product__img">
                        <img src="@relatedProduct["Avatar"]"
                             alt="@relatedProduct["Name"]"
                             style="width: 250px; height: 250px"/>
                        <span class="product__category">@relatedProduct["CategoryName"]</span>
                    </div>
                    <div class="product__info">
                        <h5 id="product__name">@relatedProduct["Name"]</h5>
                        <h5 style="font-size: large; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                            <span id="product__price">@relatedProduct["Price"]</span>
                        </h5>
                    </div>
                </a>
                <div class="product__cart">
                    <button class="product__cart__btn">ADD TO CART</button>
                </div>
            </div>
        }
    </div>
</section>
<section class="review">
    <h3 class="section__title">Product reviews</h3>
    <div class="review__comments">
        <div id="comments"></div>
        @if (Context.Session.GetString("id") != null)
        {
            <form id="form-comment">
                <div class="sendComment">
                    <input id="comment-input"
                           class="comment__input"
                           type="text"
                           placeholder="Your comment"
                           name="content"
                           required/>
                    <button type="button"
                            class="send__btn"
                            onclick="handleComment(`@product["Id"]`)"
                            id="btn-comment">
                        <img src="/img/send.png" alt="send-icon"/>
                    </button>
                </div>
            </form>
        }
        <div id="pagination-bar" class="pagination-bar"></div>
    </div>
</section>